
.header{
    display :grid;
    width: 100vw;
    position: relative;
    grid-template-columns: 70% 1fr ;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: rgba(255, 0, 0, 0.123);
    border-bottom: 0.5px solid black;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.icones {
    display: grid;
    grid-template-columns: repeat(3 , 80px) 1fr;
    grid-gap: 36px;
  
    justify-items: center;
    
}

.profile 


.icon, .logo , .profile{
    
    cursor: pointer;
}

.active{
   /* background-color: blue;*/
}



.icon{
    padding: 10px 5px 10px 5px;

    display: grid;
   
    justify-content: center;

    align-items: end;
    justify-items: center;

}

 .active::before {
    position: absolute;
    content: '';
    height: 12px;
    width:12px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
    transform: translateY(25px);

}