.btn-home{
    margin-top: 40px;
    position: relative;
    color: white;
    padding: 0px 64px 0px 10px;
    font-size: 32px;
    display:grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    border-radius:16px;
    border: 3px solid black;
    background: rgb(0,202,255);
    background: linear-gradient(90deg, rgba(0,202,255,1) 0%, rgba(0,122,176,1) 50%);
    box-shadow: 0px 2px 8px #00000077;
    
}

.btn-home:hover {
    
    transition: 0.3s all ease-in-out!important;
    border: none;
    box-shadow: 0px 4px 8px #0000007c;
}



#arrow{
    transition: 0.3s all ease-in-out;
}
.btn-home:hover #arrow0{
    transition: 0.3s all ease-in-out;
    transform-origin: center center;
    transform: scale(1.2);
    
}


.home{
    display: grid;
    justify-items: center;
}


/******Home responsive *****/

@media screen and (max-width: 720px) {
    
    .home{
        font-size: 12px!important;
    }
    .texte_content{
        font-size: 16px;
        padding-top: 10px;
    }

    .scroller{
        margin-top:24px!important;
    }

    .btn-home {
        font-size: small;
        padding: 0px 24px 0px 4px;
        height: 60px;
        align-items: center;
        align-content: center;
    }
    .btn-home svg {
        width: 60px;
    }
  }


  @media screen and (max-width: 650px) {
    .menu{
        z-index: 99999999999;
        position: absolute;
        grid-template-rows: 1fr max-content;
        grid-template-columns: none;
        right: 6%;
        top:0;
        backdrop-filter: blur(10px);
        background-color: #ffffffc9;
        position: fixed;
        padding-bottom: 24px;
        border-bottom-left-radius: 16px;
    }


    .icones{
        grid-template: none;
        grid-template-rows: 1fr 1fr max-content;
    }

    .active{
        display: grid;
    }
    
  }

  @media screen and (max-width: 550px) {
    .texte_content{
        font-size: 12px!important;
    }

    .btn-home{
        margin-bottom: 24px;
    }
    
  }


/******Fin Home responsive *****/





