.about {

	position: relative;
    margin-bottom: 100px;
	

}

/* about ********/
.about .section-title {
	text-align: left;
}

.about__wrapp {
	margin-left: 5%;
    margin-right: 5%;
    margin-top: 56px;
	
	display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.about__img,
.about__txt {
	width: 90%;
	height: auto;
}

.about__txt {
	
}

.about__p {
	line-height: 1.4;
	font-size: 20px;
	color: #4b4b4b;
}

.about__img {
	height: 100vh;
	overflow: hidden;
}

.about__img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}