

.footer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: 2d2733;
    position: absolute;
    z-index: 99;
    bottom: -200px;
    width: 100%;
    padding: 36px;
    background-color: #2d2733;
    color: rgba(255, 255, 255, 0.589);
}

.spans{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 180px  , 1fr));
    gap: 8px;
}

.spans span{
    padding-left: 48px;
}

.toTop{
    position: absolute;
    right: 0;
    bottom:0;
    padding: 36px;
}

.top{
    position: relative;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 24px;
    
    align-items: center;
    padding-bottom: 40px;
}
.top::before{
    
    position: absolute;
    content: "";
    display: grid;
    
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: black;
}

.evo{
    padding-top: 40px;
    display: grid;
    align-self: end;
}

.underr:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.849);
}



/*** responsive footer ***/

@media screen and (max-width: 1200px) {
    body {
      font-size: 12px;
    }
  }


@media screen and (max-width: 800px) {
    body {
      font-size: 12px;
    }

    .footer{
        grid-template-rows: 1fr 0.1fr 0.1fr;
        justify-content: center;
    }

    .toTop{
        position: relative;
        display: grid;
        justify-self: center;
    }

    .evo{
        padding-top: 10px;
        justify-self: center;
    }
  }

  @media screen and (max-width: 800px) {

    .top{
        grid-template-rows: 1fr 1fr;
        grid-gap: 2px;
        grid-template-columns: none;
        justify-content: center;
    }

  }

/*****fin footer*****/